<div class="module-search module">
   <h2 class="module-header">Rate This Blog</h2>
   <div class="module-content">
    <$MTAjaxStarRater type="blog" max_points="5"$>
    Rating: <strong><span id="ajaxrating_blog_<$MTBlogID$>_avg"><$MTAjaxRatingAverageScore type="blog"$></span></strong>/5 (<span id="ajaxrating_blog_<$MTBlogID$>_cnt"><$MTAjaxRatingVoteCount type="blog"$></span> votes cast)
    <p>Ratings on this site are powered by the <a href="http://mt-hacks.com/ajaxratings.html">Ajax Ratings</a> plugin for Movable Type.</p>
   </div>
</div>